<!DOCTYPE html>
<html>
<head>
  <title>Vmeeting</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript"
          src="http://api.addlive.com/beta/addlive-sdk.js"></script>  
  <script type="text/javascript" src="/assets/scripts1.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
